/* bodyの余白をなくす */
body {
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans JP", sans-serif;
}
h1 {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 34px;
}
p {
    font-size: 18px;
}
li {
    font-size: 18px;
}
/* divの 不要な空白を削除 */
div {
    font-size: 0;
}
img {
    margin: 0 auto;
    max-width: 100%;
}

/*===== header =====*/
/* ナビゲーションメニュー */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto 20px auto;
    max-width: 960px;
}
nav a {
    font-weight: bold;
    text-decoration: none;
    font-size: 34px;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
}
/* ナビゲーションメニューのMyProfileの部分 */
.home {
    border: 1px solid black;
    padding: 0px 20px;
    margin-left: 20px;
}
/* メニューの余白 */
.menu > a {
    margin-left: 20px;
    margin-right: 20px;
}

/*===== mainpic =====*/
/* メイン画像 */
.mainpic {
    width: 100%;
}

/*===== about =====*/
.about {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto 20px auto;
    max-width: 960px;
}
.circle {
    border-radius: 50%;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 3px solid #999;
    /* padding: 3px; */
}
.content {
    margin: 0 auto;
    padding-left: 40px;
}
.name {
    font-size: 24px;
    font-weight: bold;
}

/*===== works =====*/
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 20px auto;
    max-width: 960px;
}
/* Worksの画像と説明部分 */
.item {
    padding-bottom: 60px;
    width: 25%;
}
/* Worksの画像と説明部分（2個目） */
.item_center {
    padding-right: 20px;
    padding-left: 20px;
}

/*===== footer =====*/
footer p {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Noto Sans JP", sans-serif;
}

/*===== SP =====*/
/* 横幅が767pxまでの場合 */
@media (max-width: 767px) {
    .item {
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
    }
}
